[user]
	email = apalaciosg91@gmail.com
	name = Richard Palacios G.
[init]
        defaultBranch = main
[core]
excludesfile = ~/.gitignore
[color]
        status = auto
        branch = auto
        interactive = auto
        branch = auto
        diff = auto
        grep = auto
        ui = auto
[hub]
protocol = https
[alias]
        st = status
        d = diff
        co = checkout
        c = commit
        cm = commit -m
        ca = commit -a
        br = branch
        l = log --graph --decorate --all
