[user]
	email = apalaciosg91@gmail.com
	name = Richard Palacios G.
[init]
        defaultBranch = main
[core]
excludesfile = ~/.gitignore
[color]
        status = auto
        branch = auto
        interactive = auto
        branch = auto
        diff = auto
        grep = auto
        ui = auto
[hub]
	protocol = https
[github]
        user = rpalaciosg
[alias]
        st = status
        d = diff
        co = checkout
        sw = switch
        cob = checkout -b
        swc = switch -c
        c = commit
        cm = commit -m
        ca = commit -a
        b = branch
        ll = log --graph --decorate --name-status --all
        l = log --pretty=format:'%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)' --graph --date=relative --decorate --all
        pl = pull
        ps = push
        alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
